<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="icon" href="#" type="image/x-icon" />
    <title>Pragyawan</title>
    <!-- Icon css link -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/flat-icon/flaticon.css" rel="stylesheet">
    <link href="vendors/stroke-icon/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Rev slider css -->
    <link href="vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="vendors/animate-css/animate.css" rel="stylesheet">
    <!-- Extra plugin css -->
    <link href="vendors/bootstrap-selector/bootstrap-select.css" rel="stylesheet">
    <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="vendors/magnify-popup/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/script.js"></script>

    <base href="/">
</head>

<body ng-cloak>
    
    <!--================Header Area =================-->
    <header  class="main_menu_area main_menu_area_two">
        <div class="menu_inner_area">
            <nav class="navbar navbar-default">
                <div ng-controller="headController" >
                    <div class="container head-p">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img src="  img/icon/logo-white.png" alt="">
                                <img src="  img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>
                                    
                                <span ng-repeat="item in menuItems">
                                    <li class="dropdown submenu">
                                    <a ng-href="{{item.templateUrl}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{item.name}}</a>
                                    <ul class="dropdown-menu">
                                        <span ng-repeat="subitem in item.subItems">
                                             <li><a ng-href="{{subitem.templateUrl}}">{{subitem.name}}</a></li>
                                        </span>
                                    </ul>
                                    </li>
                                </span>
                            <li><a href="#contactus">Contact Us</a></li>
                            </ul>
                            
                        </div>
                        </div>
              
        
                </div>
            </nav>
        </div>       
    </header>
    <!--================Header Area =================-->

    <div ng-view>
    </div>
  
    <!--================Contact Querry Area =================-->
    <section id="contactus" class="contact_querry_area contact_querry_area_two pad_100" >
        <div ng-controller="contactController">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6" id="query_cont">
                    <div class="querry_contact">
                        <form class="contact_us_form row m0" action="http://demos.pixelatethemes.com/straight/theme/demo-2/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">submit now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <div class="querry_text">
                        <h6>{{h1}}</h6>
                        <h3 class="single_bar_title">{{h2}}<br /> {{h3}}</h3>
                        <h5>{{h4}}</h5>
                        <a href="#"><h4>{{h5}}</h4></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--================End Contact Querry Area =================-->
    
    <!--================Contact Success and Error message Area ================-->
    <div ng-controller="conmsgController">
        <div ng-repeat="items in succerr">
            <div id="{{items.id}}" class="modal modal-message fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                            <h2 class="modal-title">{{items.title}}</h2>
                            <p class="modal-subtitle">{{items.subtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================End Contact Success and Error message Area =================-->

    <!--================Footer Area =================-->
    <div >
         <footer class="footer_weidget_area">   
        <div ng-controller= "footController">
        <div class="container">
            <div class="row f_widget_inner">
                <div class="col-sm-3 col-xs-6">
                    <aside class="f_widget about_widget">
                        <img src="img/icon/logo-white.png" alt="">
                        <a href="#"><h4>{{h1}}</h4></a>
                        <h5>{{h2}}</h5>
                        <p>{{p1}}<script>document.write(new Date().getFullYear());</script>.<br /> {{h3}}</p>
                    </aside>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <aside class="f_widget link_widget">
                        <div class="f_title">
                            <h3>{{h4}}</h3>
                        </div>
                        <ul>
                            <span ng-repeat="link in linker">
                                <li><a ng-href="{{link.url1}}">{{link.head1}}</a></li>
                            </span>
                        </ul>
                    </aside>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <aside class="f_widget link_widget link_widget_two">
                        <div class="f_title">
                            <h3>{{h5}}</h3>
                        </div>
                        <ul>
                            <span ng-repeat="about in fabout">
                                <li><a ng-href="{{about.url}}">{{about.head}}</a></li>
                            </span>
                        </ul>
                    </aside>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <aside class="f_widget subscrib_widget">
                        <div class="f_title">
                            <h3>{{h6}}</h3>
                        </div>
                        <form class="mailchimp" method="post">
                            <div class="input-group subscrib_form">
                                <input type="email" name="EMAIL" class="form-control memail" placeholder="Enter your email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default submit_btn_b" type="submit">{{h7}}</button>
                                </span>
                            </div>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
        <div class="belowf">
            <div class="container">
                <p>Designed by Team Variance..</p>
                 <ul class="header_social">
                    <span ng-repeat="link in socialLinks">
                        <li><a ng-href="{{link.url}}" target="_blank"><i class="fa fa-{{link.printText}}"></i></a></li>
                    </span>
                </ul>
            </div>
        </div>
        </div> 
    </footer>
    <!--================End Footer Area =================-->
    
    
    
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.2.4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Extra plugin js -->
    <script src="vendors/bootstrap-selector/bootstrap-select.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/counterup/waypoints.min.js"></script>
    <script src="vendors/counterup/jquery.counterup.min.js"></script>
    <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="vendors/skroller/skrollr.min.js"></script>
    <script src="vendors/scroll/jquery.nicescroll.min.js"></script>
    <!-- contact js -->
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>